# INDIAN STARTUP ECOSYSTEM ANALYSIS

BUSINESS UNDERSTANDING


Our team is exploring the Indian startup ecosystem to understand funding trends and identify promising opportunities. The goal is to analyze funding data from 2018 to 2021, focusing on key factors such as the amount of funding received, sectors, stages of investment, and geographic locations



HPOTHESIS TESTING


Null Hypothesis (H0): There is no significant difference in the amount of funding received by startups across different sectors and stages.



Alternate Hypothesis (H1): There is a significant difference in the amount of funding received by startups across different sectors and stages.

DATA UNDERSTANDING


COLUMNS


Company_Brand: Name of the startup.

Founded: Year the startup was founded.

HeadQuarter: City where the startup is headquartered.

Sector: Industry sector of the startup.

What_it_does: Brief description of the startup's business.

Founders: Names of the founders.

Investor: Investors or investment firms that funded the startup.

Amount: Amount of funding received (in dollars).

Stage: Stage of investment (e.g., Pre-seed, Seed, Series A).

ANALYTICAL QUESTIONS


1. Funding Trends:
How has the total funding amount changed year over year from 2018 to 2021?

How has the average funding amount in each sector changed over the years (2018 - 2021)


2. Sector Analysis:
Which sectors have received the most funding, and how does the funding distribution vary across sectors?


3.Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?


4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?


5.Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?


6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?


7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?


8. Which Business is more viable to set - The best performing businesses?

In [47]:
%pip install pyodbc  
%pip install python-dotenv

Requirement already satisfied: pyodbc in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (5.1.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [48]:
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 

warnings.filterwarnings('ignore')

In [49]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("username")
password = environment_variables.get("password")

In [50]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [51]:
# This will connect to the server and might take a few seconds to be complete.

connection = pyodbc.connect(connection_string)

# STARTUP FUNDING 2020

In [52]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = '''SELECT * FROM dbo.LP1_startup_funding2020'''

data = pd.read_sql(query, connection)

# EXPLORING THE DATA

In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
#Knowing the first 10 rows
data.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None

In [55]:
#Summary Statistics
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [56]:
# Data types
print(data.dtypes)

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount           float64
Stage             object
column10          object
dtype: object

In [57]:
# Unique values in each column
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [58]:
##Information On Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [59]:
##
data.shape

(1055, 10)

In [60]:
##Duplicates
data.duplicated().sum()

3

In [61]:
## Displaying columns With Missing Values
data.isna().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

# DATA CLEANING

In [62]:
#Dropping Columns
data.drop(['column10'],axis =1,inplace = True)

#Handling missing values
For columns like Sector, Founders, and Investor, we decided to  fill missing values with a placeholder.

##Handling Columns with Many Missing Values:

Columns like Founded, Amount, and Stage have a significant number of missing values. We decided to fill  with median value.

In [63]:

# For columns with a few missing values, fill with 'Unknown'
data['HeadQuarter'].fillna('Unknown', inplace=True)
data['Sector'].fillna('Unknown', inplace=True)
data['Founders'].fillna('Unknown', inplace=True)
data['Investor'].fillna('Unknown', inplace=True)

# For 'Founded', fill missing values with the median year
data['Founded'].fillna(data['Founded'].median(), inplace=True)

# For 'Amount', fill missing values with the median funding amount
data['Amount'].fillna(data['Amount'].median(), inplace=True)

# For 'Stage', fill missing values with a placeholder
data['Stage'].fillna('Unknown', inplace=True)

In [64]:
#Treating the 'founded' as Year
# Convert 'Founded' to integer type
data['Founded'] = data['Founded'].astype(int)

In [65]:
#Optimizing Memroy Usage
# Convert 'Stage' to categorical type
data['Stage'] = data['Stage'].astype('category')

In [66]:
#Verifying the changes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        1055 non-null   int32
 2   HeadQuarter    1055 non-null   object
 3   Sector         1055 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1055 non-null   object
 6   Investor       1055 non-null   object
 7   Amount         1055 non-null   float64
 8   Stage          1055 non-null   category
dtypes: category(1), float64(1), int32(1), object(6)
memory usage: 64.4+ KB

In [67]:
#Identifying Duplicate Rows

duplicates = data[data.duplicated()]
print(duplicates)

    Company_Brand  Founded HeadQuarter                 Sector  \
145     Krimanshi     2015     Jodhpur  Biotechnology company
205         Nykaa     2012      Mumbai              Cosmetics
362        Byjuâ€™s     2011   Bangalore                 EdTech

                                          What_it_does         Founders  \
145  Krimanshi aims to increase rural income by imp...     Nikhil Bohra
205  Nykaa is an online marketplace for different b...    Falguni Nayar
362  An Indian educational technology and online tu...  Byju Raveendran

                                           Investor       Amount    Stage
145  Rajasthan Venture Capital Fund, AIM Smart City     600000.0     Seed
205                        Alia Bhatt, Katrina Kaif    3000000.0  Unknown
362           Owl Ventures, Tiger Global Management  500000000.0  Unknown

In [68]:
# # Remove duplicate rows
data = data.drop_duplicates()


# Verify that duplicates have been removed
print(data.duplicated().sum())

0

# STARTUP FUNDING 2021

In [69]:
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''
data2= pd.read_sql(query, connection)

In [70]:
#Knowing the first 10 rows with columns
data2.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None

In [71]:
#Summary statistics
data2.describe().T

          count         mean       std     min     25%     50%     75%     max
Founded  1208.0  2016.655629  4.517364  1963.0  2015.0  2018.0  2020.0  2021.0

In [72]:
# Data types
print(data2.dtypes)

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [73]:
# Unique values in each column
data2.nunique()

Company_Brand    1033
Founded            30
HeadQuarter        70
Sector            254
What_it_does     1143
Founders         1095
Investor          937
Amount            278
Stage              31
dtype: int64

In [74]:
#Information on the data
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [75]:
data2.shape

(1209, 9)

In [76]:
##Duplicates
data2.duplicated().sum()

19

In [77]:
## Displaying columns With Missing Values
data2.isna().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [79]:
# Handle missing values
# Filling The Year Founded with 0 and converting from  object to Integer
data2['Founded'] = data2['Founded'].fillna(0).astype(int)

##Converting Headquarter, Founders and Investor with 'Unknown'
data2['HeadQuarter'].fillna('Unknown', inplace=True)
data2['Founders'].fillna('Unknown', inplace = True)
data2['Investor'].fillna('Unknown' ,inplace  = True)

In [81]:
##Converting Amount to float and filling missing values with 0
data2['Amount'].fillna(data['Amount'].median(), inplace=True)


# For 'Stage', fill missing values with a placeholder
data2['Stage'].fillna('Unknown', inplace=True)

In [87]:
#Optimizing Memroy Usage
# Convert 'Stage' to categorical type
data2['Stage'] = data2['Stage'].astype('category')

In [83]:
# Verify missing values are handled
print(data2.isna().sum())

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

In [85]:
#Identifying Duplicate Rows

duplicates = data2[data2.duplicated()]
print(duplicates)

          Company_Brand  Founded             HeadQuarter  \
107           Curefoods     2020               Bangalore
109            Bewakoof     2012                  Mumbai
111             FanPlay     2020          Computer Games
117      Advantage Club     2014                  Mumbai
119              Ruptok     2020               New Delhi
243            Trinkerr     2021               Bangalore
244               Zorro     2021                Gurugram
245       Ultraviolette     2021               Bangalore
246          NephroPlus     2009               Hyderabad
247             Unremot     2020               Bangalore
248         FanAnywhere     2021               Bangalore
249          PingoLearn     2021                    Pune
250                Spry     2021                  Mumbai
251             Enmovil     2015               Hyderabad
252       ASQI Advisors     2019                  Mumbai
253  Insurance Samadhan     2018               New Delhi
254     Evenflow Brands     2020                  Mumbai
255          MasterChow     2020        Food & Beverages
256  Fullife Healthcare     2009  Pharmaceuticals\t#REF!

                                                Sector  \
107                                   Food & Beverages
109                                  Apparel & Fashion
111                                     Computer Games
117                                             HRTech
119                                            FinTech
243                                    Capital Markets
244                                     Social network
245                                         Automotive
246                             Hospital & Health Care
247                  Information Technology & Services
248                                 Financial Services
249                                         E-learning
250                                              Music
251                  Information Technology & Services
252                                 Financial Services
253                                          Insurance
254                                     Consumer Goods
255                                          Hauz Khas
256  Primary Business is Development and Manufactur...

                                          What_it_does  \
107  Healthy & nutritious foods and cold pressed ju...
109  Bewakoof is a lifestyle fashion brand that mak...
111  A real money game app specializing in trivia g...
117  Advantage Club is India's largest employee eng...
119  Ruptok fintech Pvt. Ltd. is an online gold loa...
243  Trinkerr is India's first social trading platf...
244               Pseudonymous social network platform
245  Create and Inspire the future of sustainable u...
246  A vision and passion of redefining healthcare ...
247      Unremot is a personal office for consultants!
248                             Celebrity NFT platform
249  PingoLearn offers language learning courses wi...
250  THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...
251  Enmovil delivers a Business Intelligence Platf...
252  Bringing Blockchain technology intro mainstrea...
253  The insurance industry will help in representa...
254  Identify and partner with the upcoming eCommer...
255                A ready-to-cook Asian cuisine brand
256                                       Varun Khanna

                                          Founders  \
107                                   Ankit Nagori
109                               Prabhkiran Singh
111                                         YC W21
117             Sourabh Deorah, Smiti Bhatt Deorah
119                                    Ankur Gupta
243                Manvendra Singh, Gaurav Agarwal
244  Jasveer Singh, Abhishek Asthana, Deepak Kumar
245            Subramaniam Narayan, Niraj Rajmohan
246                                 Vikram Vuppala
247                            Shiju Radhakrishnan
248                    Varun Chaudhary, Amit Kumar
249             Mohit Menghani, Shubham Maheshwari
250                Gaurav Dagaonkar, Meghna Mittal
251     Ravi Bulusu, Nanda Kishore, Venkat Moganty
252                                  Swapnil Pawar
253                     Deepak Bhuvenshwari Uniyal
254                  Utsav Agarwal, Pulkit Chhabra
255                  Vidur Kataria, Sidhanth Madan
256             Morgan Stanley Private Equity Asia

                                              Investor        Amount  \
107                Iron Pillar, Nordstar, Binny Bansal     $13000000
109                                         InvestCorp      $8000000
111                        Pritesh Kumar, Bharat Gupta      Upsparks
117           Y Combinator, Broom Ventures, Kunal Shah      $1700000
119                                     Eclear Leasing      $1000000
243                                        Accel India      $6600000
244  Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose     $32000000
245                                    TVS Motor, Zoho    $150000000
246                              IIFL Asset Management     $24000000
247                          Inflection Point Ventures       $700000
248        Oasis Capital, Scorpio VC, DeltaHub Capital  $Undisclosed
249  Titan Capital, Haresh Chawla, AngelList Syndicate       $200000
250                          9Unicorns, Ashneer Grover      $1500000
251                                  Anicut Angel Fund      $1300000
252                              Founders Room Capital      $1000000
253                                     9Unicorns, ZNL       $725000
254                                            Unknown       $500000
255                                       WEH Ventures       $461000
256                                          $22000000      Series C

            Stage
107       Unknown
109       Unknown
111      $1200000
117       Unknown
119       Unknown
243      Series A
244          Seed
245      Series C
246      Series E
247          Seed
248          Seed
249       Unknown
250          Seed
251  Pre-series A
252  Pre-series A
253  Pre-series A
254       Unknown
255          Seed
256       Unknown

In [86]:
# # Remove duplicate rows
data2 = data2.drop_duplicates()


# Verify that duplicates have been removed
print(data2.duplicated().sum())

0

In [88]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   object
 1   Founded        1190 non-null   int32
 2   HeadQuarter    1190 non-null   object
 3   Sector         1190 non-null   object
 4   What_it_does   1190 non-null   object
 5   Founders       1190 non-null   object
 6   Investor       1190 non-null   object
 7   Amount         1190 non-null   object
 8   Stage          1190 non-null   category
dtypes: category(1), int32(1), object(7)
memory usage: 81.5+ KB

# STARTUP FUNDING 2018

In [89]:
data3 = pd.read_csv('C:\\Users\Admin\\Pictures\\Demo Indian Startup\\Demo-indian-start-up\\Notebooks\\startup_funding2018.csv')
data3

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"â‚¹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"â‚¹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,â€”,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,â€”,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"â‚¹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!