# INDIAN STARTUP ECOSYSTEM ANALYSIS

BUSINESS UNDERSTANDING


Our team is exploring the Indian startup ecosystem to understand funding trends and identify promising opportunities. The goal is to analyze funding data from 2018 to 2021, focusing on key factors such as the amount of funding received, sectors, stages of investment, and geographic locations



HPOTHESIS TESTING


Null Hypothesis (H0): There is no significant difference in the amount of funding received by startups across different sectors and stages.



Alternate Hypothesis (H1): There is a significant difference in the amount of funding received by startups across different sectors and stages.

DATA UNDERSTANDING


COLUMNS IN THE DATASET


Company_Brand: Name of the startup.

Founded: Year the startup was founded.

HeadQuarter: City where the startup is headquartered.

Sector: Industry sector of the startup.

What_it_does: Brief description of the startup's business.

Founders: Names of the founders.

Investor: Investors or investment firms that funded the startup.

Amount: Amount of funding received (in dollars).

Stage: Stage of investment (e.g., Pre-seed, Seed, Series A).

ANALYTICAL QUESTIONS


1. Funding Trends:
- How has the total funding amount changed year over year from 2018 to 2021?

- How has the average funding amount in each sector changed over the years (2018 - 2021)


2. Sector Analysis:
- Which sectors have received the most funding, and how does the funding distribution vary across sectors?

- What are the key sectors that exhibit a high number of startups, and how does this startup count vary across different sectors?

3.Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?


4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?


5.Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?


6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?



7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?


8. Which Business is more viable to set - The best performing businesses?

In [6]:
%pip install pyodbc  
%pip install python-dotenv

Requirement already satisfied: pyodbc in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import numpy as np
import warnings 

warnings.filterwarnings('ignore')

In [8]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("username")
password = environment_variables.get("password")

In [9]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [10]:
# This will connect to the server and might take a few seconds to be complete.

connection = pyodbc.connect(connection_string)

# STARTUP ECOSYSTEM 2018-2021

In [28]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = '''SELECT * FROM dbo.LP1_startup_funding2020'''
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''
data_2018 = pd.read_csv('C:\\Users\\Admin\\Music\\Demo-indian-start-up\\Notebooks\\startup_funding2018.csv')
data_2018
data_2019 = pd.read_csv('C:\\Users\\Admin\\Music\\Demo-indian-start-up\\Notebooks\\startup_funding2019.csv')
data_2019
data_2020 = pd.read_sql(query, connection)
data_2020
data_2021 = pd.read_sql(query, connection)
data_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

# EXPLORING THE DATA

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# DATA_2018

In [ ]:
#Knowing the first 10 rows
data_2018.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None

In [30]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

# DATA_2019

In [31]:
data_2019.head(10)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.","$1,000,000",Pre series A
8,Quantiphi,NaN,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,"$20,000,000",Series A
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,"$275,000,000",Series G

In [32]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

# DATA_2020

In [33]:
data_2020.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None

In [34]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

# DATA_2021

In [35]:
data_2021.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None

In [36]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

Realising All Datset Has Same Columns with the Exception of 2018, I Decide to Standardise 2018 column since it contains same information as the others and then concatenate all the dataset.

Standardising 2018 columns

In [37]:
#Rename columns of data_2018 to match combined_data
data_2018 = data_2018.rename(columns={
    'Company Name': 'Company_Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'Amount': 'Amount',
    'Location': 'HeadQuarter',
    'About Company': 'What_it_does'
})

# CONCATENATING ALL THE DATSET

In [38]:
# Combine all datasets
df_combined = pd.concat([data_2019, data_2020, data_2021, data_2018], ignore_index=True)

#More Exploration of the combined

In [39]:
df_combined.describe().T

          count       mean       std     min     25%     50%     75%     max
Founded  2476.0  2016.6042  4.496199  1963.0  2015.0  2018.0  2020.0  2021.0

In [40]:
df_combined.dtypes

Company/Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What it does      object
Founders          object
Investor          object
Amount($)         object
Stage             object
Company_Brand     object
What_it_does      object
Amount            object
dtype: object

In [41]:
df_combined.nunique()

Company/Brand      87
Founded            30
HeadQuarter       123
Sector            664
What it does       88
Founders         1173
Investor         1013
Amount($)          50
Stage              52
Company_Brand    1498
What_it_does     1656
Amount            454
dtype: int64

In [42]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        2476 non-null   float64
 2   HeadQuarter    3012 non-null   object
 3   Sector         3028 non-null   object
 4   What it does   89 non-null     object
 5   Founders       2496 non-null   object
 6   Investor       2383 non-null   object
 7   Amount($)      89 non-null     object
 8   Stage          2131 non-null   object
 9   Company_Brand  2944 non-null   object
 10  What_it_does   2944 non-null   object
 11  Amount         2938 non-null   object
dtypes: float64(1), object(11)
memory usage: 284.5+ KB

In [43]:
df_combined.shape

(3033, 12)

In [44]:
df_combined.duplicated().sum()

1229

In [45]:
df_combined.isna().sum()

Company/Brand    2944
Founded           557
HeadQuarter        21
Sector              5
What it does     2944
Founders          537
Investor          650
Amount($)        2944
Stage             902
Company_Brand      89
What_it_does       89
Amount             95
dtype: int64

# DATA CLEANING

#Realising the duplicated column Names, I decided to rename and Standardise them.

In [46]:
# Renaming columns to standardize names
df_combined.rename(columns={
    'Company/Brand': 'Company_Brand',
    'What it does': 'What_it_does',
    'Amount($)': 'Amount'
}, inplace=True)

In [47]:
# Check for duplicated columns
df_combined.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
        True,  True,  True])

In [48]:
# Rename duplicate columns to make them unique
df_combined.columns = ['Company_Brand_1', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does_1', 'Founders', 'Investor', 'Amount_1', 'Stage', 'Company_Brand_2', 'What_it_does_2', 'Amount_2']

# Merge the duplicated columns
df_combined['Company_Brand'] = df_combined['Company_Brand_1'].combine_first(df_combined['Company_Brand_2'])
df_combined['What_it_does'] = df_combined['What_it_does_1'].combine_first(df_combined['What_it_does_2'])
df_combined['Amount'] = df_combined['Amount_1'].combine_first(df_combined['Amount_2'])

# Drop the original duplicated columns after merging
df_combined.drop(columns=['Company_Brand_1', 'Company_Brand_2', 'What_it_does_1', 'What_it_does_2', 'Amount_1', 'Amount_2'], inplace=True)

In [49]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Founded        2476 non-null   float64
 1   HeadQuarter    3012 non-null   object
 2   Sector         3028 non-null   object
 3   Founders       2496 non-null   object
 4   Investor       2383 non-null   object
 5   Stage          2131 non-null   object
 6   Company_Brand  3033 non-null   object
 7   What_it_does   3033 non-null   object
 8   Amount         3027 non-null   object
dtypes: float64(1), object(8)
memory usage: 213.4+ KB

In [51]:
# Check for missing values
missing_values = df_combined.isnull().sum()

# Print the missing values for each column
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Founded          557
HeadQuarter       21
Sector             5
Founders         537
Investor         650
Stage            902
Company_Brand      0
What_it_does       0
Amount             6
dtype: int64

# COLUMN BY COLUMN CLEANING

COLUMN-AMOUNT

In [52]:
df_combined['Amount'].unique()

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000', '$1,200,000', '$51,000,000', '$188,000,000',
       '$200,000', '$3,000,000', '$700,000', '$9,000,000', '$40,000,000',
       '$49,000,000', '$300,000', '$160,000,000', '$1,800,000',
       '$850,000', '$53,000,000', '$500,000', '$1,100,000', '$800,000',
       '$10,000,000', '$21,000,000', '$7,500,000', '$7,400,000',
       '$800,000,000', '$17,000,000', '$3,500,000', '$215,000,000',
       '$350,000,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$13,000,000', None, '$Undisclosed',
       '$2000000', '$800000', '$6000000', '$2500000', '$9500000',
       '$13000000', '$5000000', '$8000000', '$1000000', 'Upsparks',
       '$200000', '$12000000', '$1500000', '$1700000', '$5500000',
       '$400000', '$150000000', '$4000000', '$100000000', '$500000',
       '$15000000', '$10000000', '$40000000', '$225000000', '$6700000',
       '$1300000', '$20000000', '$250000', '$21000000', '$1200000',
       '$52000000', '$3800000', '$17500000', '$42000000', '$2300000',
       '$7000000', '$30000000', '$450000000', '$28000000', '$300000',
       '$3500000', '$8500000', '$25000000', '$3000000', '$37000000',
       '$370000000', '$700000', '$16000000', '$100000', '$44000000',
       '$770000', '$125000000', '$35000000', '$50000000', '$4900000',
       '$145000000', '$22000000', '$70000000', '$6600000', '$32000000',
       '$24000000', '$725000', '$461000', 'Series C', 'Seed', '$96000000',
       '$60000000', '$500000000', '$266000000', '$4500000', '$325000000',
       '$6500000', '$1600000', '$150000', '$225000', '$85000000',
       '$235000', '$260000', '$2900000', '$53000000', '$1100000',
       '$86000000', '$130000', '$$100,00', '$111000000', '$265000',
       '$76000000', '$75,000,000', '$3,800,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$350,000', '$95,000,000',
       '$4,100,000', '$5,200,000', '$1,400,000', '$2,600,000', '$900,000',
       '$250,000', '$16,000,000', '$280,000,000', '$14,300,000',
       '$81,000,000', '$1,300,000', '$8,200,000', '$720,000', '$600000',
       '$9000000', '$1800000', '$330000', '$undisclosed', '$200000000',
       '$36000000', '$67000000', '$10200000', '$220000000', '$108000000',
       '$75000000', '$450000', '$660000000', 'ah! Ventures', '$45000000',
       '$3200000', '$370000', 'Pre-series A',
       'ITO Angel Network, LetsVenture', '$48000000', '$3600000',
       '$11000000', '$192000000', '$65000000', '$1400000', '$1900000',
       '$41000000', '$144000000', '$5200000', '$270000000', '$140000',
       '$250000000', '$320000', '$350000000', '$4800000', '$38000000',
       '$125000', '$26000000', '$64000000', '$620000', '$900000',
       'JITO Angel Network, LetsVenture', '$2600000', '$1,250,000',
       '$400,000,000', '$1,700,000', '$27,000,000', '$234,000,000',
       '$460,000,000', '$13,500,000', '$5,100,000', '$195,000,000',
       '$125,000', '$45,000,000', '$200,000,000', '$7,300,000',
       '$12,500,000', '$24,000,000', '$16,500,000', '$340,000',
       '$43,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000', '250000', '₹40,000,000', '₹65,000,000',
       '2000000', '—', '1600000', '₹16,000,000', '₹50,000,000',
       '₹100,000,000', '150000', '1100000', '₹500,000', '6000000',
       '650000', '₹35,000,000', '₹64,000,000', '₹20,000,000', '1000000',
       '5000000', '4000000', '₹30,000,000', '2800000', '1700000',
       '1300000', '₹5,000,000', '₹12,500,000', '₹15,000,000', '500000',
       '₹104,000,000', '₹45,000,000', '13400000', '₹25,000,000',
       '₹26,400,000', '₹8,000,000', '₹60,000', '9000000', '100000',
       '20000', '120000', '₹34,000,000', '₹342,000,000', '$143,145',
       '₹600,000,000', '$742,000,000', '₹1,000,000,000', '₹2,000,000,000',
       '$3,980,000', '$10,000', '₹100,000', '₹250,000,000',
       '₹550,000,000', '$28,500,000', '₹240,000,000', '₹120,000,000',
       '$2,400,000', '₹2,500,000,000', '$23,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '₹650,000,000', '₹1,600,000,000',
       '₹70,000,000', '$14,000,000', '₹102,500,000', '₹1,200,000',
       '₹5,200,000,000', '$1,041,000', '$15,000', '1400000', '1200000',
       '2200000', '1800000', '3600000', '₹9,500,000', '300000', '6830000',
       '200000', '₹150,000,000', '4300000', '364846', '400000', '1500000',
       '₹7,000,000', '₹1,400,000', '₹10,000,000', '₹22,500,000',
       '13200000', '50000', '₹140,200,000', '3000000', '1250000',
       '180000', '₹19,200,000', '₹103,000,000', '4200000', '175000',
       '1450000', '₹200,000', '4500000', '600000', '₹16,600,000',
       '₹12,000,000', '15000000', '₹33,000,000', '125000', '130000',
       '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000', '3500000',
       '₹135,000,000', '12000000', '₹1,540,000,000', '₹140,000,000',
       '$41,900,000', '₹1,410,000,000', '$3,530,000', '$3,300,000',
       '₹580,000,000', '₹36,000,000', '₹340,000,000', '$210,000,000',
       '$37,680,000', '$20,000', '₹510,000,000', '₹2,200,000,000',
       '22000000', '70000', '10000000', '₹15,392,000,000',
       '₹20,000,000,000', '₹4,000,000,000', '185000000', '65000000',
       '₹165,000,000', '700000', '30000000', '₹210,000,000', '210000000',
       '₹2,029,600,000', '75000000', '₹80,000,000', '1760000', '2700000',
       '₹280,000,000', '₹800,000,000', '750000', '2500000', '80000000',
       '25000000', '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [ ]:
#Summary Statistics
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10

In [ ]:
# Data types
print(data.dtypes)

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount           float64
Stage             object
column10          object
dtype: object

In [ ]:
# Unique values in each column
data.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
dtype: int64

In [ ]:
##Information On Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [ ]:
##
data.shape

(1055, 10)

In [ ]:
##Duplicates
data.duplicated().sum()

3

In [ ]:
## Displaying columns With Missing Values
data.isna().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

# DATA CLEANING

In [ ]:
#Dropping Columns
data.drop(['column10'],axis =1,inplace = True)

#Handling missing values
For columns like Sector, Founders, and Investor, we decided to  fill missing values with a placeholder.

##Handling Columns with Many Missing Values:

Columns like Founded, Amount, and Stage have a significant number of missing values. We decided to fill  with median value.

In [ ]:

# For columns with a few missing values, fill with 'Unknown'
data['HeadQuarter'].fillna('Unknown', inplace=True)
data['Sector'].fillna('Unknown', inplace=True)
data['Founders'].fillna('Unknown', inplace=True)
data['Investor'].fillna('Unknown', inplace=True)

# For 'Founded', fill missing values with the unknown
data['Founded'].fillna(0, inplace=True)

# For 'Amount', fill missing values with the median funding amount
data['Amount'].fillna(data['Amount'].median(), inplace=True)

# For 'Stage', fill missing values with a placeholder
data['Stage'].fillna('Unknown', inplace=True)

In [ ]:
#Treating the 'founded' as Year
# Convert 'Founded' to integer type
data['Founded'] = data['Founded'].astype(int)

In [ ]:
#Optimizing Memroy Usage
# Convert 'Stage' to categorical type
data['Stage'] = data['Stage'].astype('category')

In [ ]:
#Verifying the changes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        1055 non-null   int32
 2   HeadQuarter    1055 non-null   object
 3   Sector         1055 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1055 non-null   object
 6   Investor       1055 non-null   object
 7   Amount         1055 non-null   float64
 8   Stage          1055 non-null   category
dtypes: category(1), float64(1), int32(1), object(6)
memory usage: 64.4+ KB

In [ ]:
#Identifying Duplicate Rows

duplicates = data[data.duplicated()]
print(duplicates)

    Company_Brand  Founded HeadQuarter                 Sector  \
145     Krimanshi     2015     Jodhpur  Biotechnology company
205         Nykaa     2012      Mumbai              Cosmetics
362        Byju’s     2011   Bangalore                 EdTech

                                          What_it_does         Founders  \
145  Krimanshi aims to increase rural income by imp...     Nikhil Bohra
205  Nykaa is an online marketplace for different b...    Falguni Nayar
362  An Indian educational technology and online tu...  Byju Raveendran

                                           Investor       Amount    Stage
145  Rajasthan Venture Capital Fund, AIM Smart City     600000.0     Seed
205                        Alia Bhatt, Katrina Kaif    3000000.0  Unknown
362           Owl Ventures, Tiger Global Management  500000000.0  Unknown

In [ ]:
# # Remove duplicate rows
data = data.drop_duplicates()


# Verify that duplicates have been removed
print(data.duplicated().sum())

0

# STARTUP FUNDING 2021

In [ ]:
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''
data2= pd.read_sql(query, connection)

In [ ]:
#Knowing the first 10 rows with columns
data2.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None

In [ ]:
data2.tail(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1199,Proeon,2018.0,Pune,Food Production,Innovating plant protein ingredients with supe...,"Ashish Korde, Kevin Parekh","Shaival Desai, Flowstate Ventures",$2000000,Seed
1200,InfyU Labs,2019.0,Gandhinagar,AgriTech,InfyU Labs is a team of dedicated professional...,"Amit Srivastava, Ankit Chauhan",IAN,$200000,Seed
1201,TechEagle,2015.0,Gurugram,Aviation & Aerospace,"Safe, secure & reliable On-Demand Drone delive...",Vikram Singh Meena,India Accelerator,$500000,Seed
1202,Voxelgrids,2017.0,Bangalore,Deeptech,Voxelgrids is an Magnetic Resonance Imaging te...,Arjun Arunachalam,Zoho,$5000000,None
1203,Cogos Technologies,2016.0,Bangalore,Logistics & Supply Chain,A smart-tech-enabled platform offering a one-s...,Prasad Sreeram,Transworld Group,$2000000,Pre-series A
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [ ]:
#Summary statistics
data2.describe().T

          count         mean       std     min     25%     50%     75%     max
Founded  1208.0  2016.655629  4.517364  1963.0  2015.0  2018.0  2020.0  2021.0

In [ ]:
# Data types
print(data2.dtypes)

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [ ]:
# Unique values in each column
data2.nunique()

Company_Brand    1033
Founded            30
HeadQuarter        70
Sector            254
What_it_does     1143
Founders         1095
Investor          937
Amount            278
Stage              31
dtype: int64

In [ ]:
#Information on the data
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [ ]:
data2.shape

(1209, 9)

In [ ]:
##Duplicates
data2.duplicated().sum()

19

In [ ]:
## Displaying columns With Missing Values
data2.isna().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

#CLEANING THE DATA

In [ ]:
# Handle missing values
# Filling The Year Founded with 0 and converting from  object to Integer
data2['Founded'] = data2['Founded'].fillna(0).astype(int)

##Converting Headquarter, Founders and Investor with 'Unknown'
data2['HeadQuarter'].fillna('Unknown', inplace=True)
data2['Founders'].fillna('Unknown', inplace = True)
data2['Investor'].fillna('Unknown' ,inplace  = True)

In [ ]:
##Converting Amount to float and filling missing values with 0
#data2['Amount'].data2['Amount'].fillna(0)
#data2['Amount'] = data2['Amount'].fillna(0)
#data2['Amount'] = data['Amount'].astype(float)
# Step 1: Convert all values in the 'Amount' column to strings
data2['Amount'] = data2['Amount'].astype(str)

# Step 2: Remove any non-numeric characters such as '$' and ','
data2['Amount'] = data2['Amount'].str.replace('[\$,]', '', regex=True)

# Step 3: Replace 'undisclosed' with NaN
data2['Amount'].replace('undisclosed', np.nan, inplace=True)

# Step 4: Convert the column to numeric (float), ignoring errors
data2['Amount'] = pd.to_numeric(data2['Amount'], errors='coerce')

# Step 5: Fill NaN values with 0
data2['Amount'].fillna(0, inplace=True)

In [ ]:
#Optimizing Memroy Usage
# Convert 'Stage' to categorical type
#data2['Stage'] = data2['Stage'].astype('category')
# For 'Stage', fill missing values with a placeholder
#data2['Stage'].fillna('Unknown', inplace=True)

# Step 1: Convert 'Stage' to categorical type
data2['Stage'] = data2['Stage'].astype('category')

# Step 2: Add 'Unknown' to the categories
data2['Stage'] = data2['Stage'].cat.add_categories('Unknown')

# Step 3: Fill missing values with 'Unknown'
data2['Stage'].fillna('Unknown', inplace=True)

print(data2)

       Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics     2019   Bangalore             AI startup
1             upGrad     2015      Mumbai                 EdTech
2        Lead School     2012      Mumbai                 EdTech
3            Bizongo     2015      Mumbai         B2B E-commerce
4           FypMoney     2021    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce     2019    Gurugram  Staffing & Recruiting
1205          Vahdam     2015   New Delhi       Food & Beverages
1206    Leap Finance     2019   Bangalore     Financial Services
1207    CollegeDekho     2015    Gurugram                 EdTech
1208          WeRize     2019   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                           Investor       Amount         Stage
0                       BEENEXT, Entrepreneur First    1200000.0  Pre-series A
1          Unilazer Ventures, IIFL Asset Management  120000000.0       Unknown
2                  GSV Ventures, Westbridge Capital   30000000.0      Series D
3                            CDC Group, IDG Capital   51000000.0      Series C
4     Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal    2000000.0          Seed
...                                             ...          ...           ...
1204                                Endiya Partners    3000000.0  Pre-series A
1205                                       IIFL AMC   20000000.0      Series D
1206                                   Owl Ventures   55000000.0      Series C
1207               Winter Capital, ETS, Man Capital   26000000.0      Series B
1208                 3one4 Capital, Kalaari Capital    8000000.0      Series A

[1209 rows x 9 columns]

In [ ]:
# Verify missing values are handled
print(data2.isnull().sum())

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

In [ ]:
#Identifying Duplicate Rows

duplicates = data2[data2.duplicated()]
print(duplicates)

          Company_Brand  Founded             HeadQuarter  \
107           Curefoods     2020               Bangalore
109            Bewakoof     2012                  Mumbai
111             FanPlay     2020          Computer Games
117      Advantage Club     2014                  Mumbai
119              Ruptok     2020               New Delhi
243            Trinkerr     2021               Bangalore
244               Zorro     2021                Gurugram
245       Ultraviolette     2021               Bangalore
246          NephroPlus     2009               Hyderabad
247             Unremot     2020               Bangalore
248         FanAnywhere     2021               Bangalore
249          PingoLearn     2021                    Pune
250                Spry     2021                  Mumbai
251             Enmovil     2015               Hyderabad
252       ASQI Advisors     2019                  Mumbai
253  Insurance Samadhan     2018               New Delhi
254     Evenflow Brands     2020                  Mumbai
255          MasterChow     2020        Food & Beverages
256  Fullife Healthcare     2009  Pharmaceuticals\t#REF!

                                                Sector  \
107                                   Food & Beverages
109                                  Apparel & Fashion
111                                     Computer Games
117                                             HRTech
119                                            FinTech
243                                    Capital Markets
244                                     Social network
245                                         Automotive
246                             Hospital & Health Care
247                  Information Technology & Services
248                                 Financial Services
249                                         E-learning
250                                              Music
251                  Information Technology & Services
252                                 Financial Services
253                                          Insurance
254                                     Consumer Goods
255                                          Hauz Khas
256  Primary Business is Development and Manufactur...

                                          What_it_does  \
107  Healthy & nutritious foods and cold pressed ju...
109  Bewakoof is a lifestyle fashion brand that mak...
111  A real money game app specializing in trivia g...
117  Advantage Club is India's largest employee eng...
119  Ruptok fintech Pvt. Ltd. is an online gold loa...
243  Trinkerr is India's first social trading platf...
244               Pseudonymous social network platform
245  Create and Inspire the future of sustainable u...
246  A vision and passion of redefining healthcare ...
247      Unremot is a personal office for consultants!
248                             Celebrity NFT platform
249  PingoLearn offers language learning courses wi...
250  THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...
251  Enmovil delivers a Business Intelligence Platf...
252  Bringing Blockchain technology intro mainstrea...
253  The insurance industry will help in representa...
254  Identify and partner with the upcoming eCommer...
255                A ready-to-cook Asian cuisine brand
256                                       Varun Khanna

                                          Founders  \
107                                   Ankit Nagori
109                               Prabhkiran Singh
111                                         YC W21
117             Sourabh Deorah, Smiti Bhatt Deorah
119                                    Ankur Gupta
243                Manvendra Singh, Gaurav Agarwal
244  Jasveer Singh, Abhishek Asthana, Deepak Kumar
245            Subramaniam Narayan, Niraj Rajmohan
246                                 Vikram Vuppala
247                            Shiju Radhakrishnan
248                    Varun Chaudhary, Amit Kumar
249             Mohit Menghani, Shubham Maheshwari
250                Gaurav Dagaonkar, Meghna Mittal
251     Ravi Bulusu, Nanda Kishore, Venkat Moganty
252                                  Swapnil Pawar
253                     Deepak Bhuvenshwari Uniyal
254                  Utsav Agarwal, Pulkit Chhabra
255                  Vidur Kataria, Sidhanth Madan
256             Morgan Stanley Private Equity Asia

                                              Investor       Amount  \
107                Iron Pillar, Nordstar, Binny Bansal   13000000.0
109                                         InvestCorp    8000000.0
111                        Pritesh Kumar, Bharat Gupta          0.0
117           Y Combinator, Broom Ventures, Kunal Shah    1700000.0
119                                     Eclear Leasing    1000000.0
243                                        Accel India    6600000.0
244  Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose   32000000.0
245                                    TVS Motor, Zoho  150000000.0
246                              IIFL Asset Management   24000000.0
247                          Inflection Point Ventures     700000.0
248        Oasis Capital, Scorpio VC, DeltaHub Capital          0.0
249  Titan Capital, Haresh Chawla, AngelList Syndicate     200000.0
250                          9Unicorns, Ashneer Grover    1500000.0
251                                  Anicut Angel Fund    1300000.0
252                              Founders Room Capital    1000000.0
253                                     9Unicorns, ZNL     725000.0
254                                            Unknown     500000.0
255                                       WEH Ventures     461000.0
256                                          $22000000          0.0

            Stage
107       Unknown
109       Unknown
111      $1200000
117       Unknown
119       Unknown
243      Series A
244          Seed
245      Series C
246      Series E
247          Seed
248          Seed
249       Unknown
250          Seed
251  Pre-series A
252  Pre-series A
253  Pre-series A
254       Unknown
255          Seed
256       Unknown

In [ ]:
# # Remove duplicate rows
data2 = data2.drop_duplicates()


# Verify that duplicates have been removed
print(data2.duplicated().sum())

0

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   object
 1   Founded        1190 non-null   int32
 2   HeadQuarter    1190 non-null   object
 3   Sector         1190 non-null   object
 4   What_it_does   1190 non-null   object
 5   Founders       1190 non-null   object
 6   Investor       1190 non-null   object
 7   Amount         1190 non-null   float64
 8   Stage          1190 non-null   category
dtypes: category(1), float64(1), int32(1), object(6)
memory usage: 81.5+ KB

# STARTUP FUNDING 2018

In [ ]:
data3 = pd.read_csv('C:\\Users\Admin\\Pictures\\Demo Indian Startup\\Demo-indian-start-up\\Notebooks\\startup_funding2018.csv')
data3

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [ ]:
data3.describe().T

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,—,30
Round/Series,526,21,Seed,280
Amount,526,198,—,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

In [ ]:
data3.dtypes

Company Name     object
Industry         object
Round/Series     object
Amount           object
Location         object
About Company    object
dtype: object

In [ ]:
data3.nunique()

Company Name     525
Industry         405
Round/Series      21
Amount           198
Location          50
About Company    524
dtype: int64

In [ ]:
data3.shape

(526, 6)

In [ ]:
data3.duplicated().sum()

1

In [ ]:
data3.isna().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

#CLEANING

In [ ]:
#Converting 'Amount' to Float
data3['Amount'] =pd.to_numeric(data3['Amount'], errors='coerce')
 
# Check to confirm 'Amount Column is float
data3['Amount'] = data3['Amount'].astype(float)
 
print(data3['Amount'].dtype)

float64

In [ ]:
# Step 1: Convert all values in the 'Amount' column to strings
data3['Amount'] = data3['Amount'].astype(str)

# Step 2: Remove any non-numeric characters such as '₹' and ','
data3['Amount'] = data3['Amount'].str.replace('[\₹,]', '', regex=True)

# Step 3: Replace 'undisclosed' with NaN
data3['Amount'].replace('undisclosed', np.nan, inplace=True)

# Step 4: Convert the column to numeric (float), ignoring errors
data3['Amount'] = pd.to_numeric(data3['Amount'], errors='coerce')

# Step 5: Fill NaN values with 0
data3['Amount'].fillna(0, inplace=True)

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    float64
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: float64(1), object(5)
memory usage: 24.8+ KB

In [ ]:
data3 = data3.drop_duplicates()


# Verify that duplicates have been removed
print(data3.duplicated().sum())

0

In [ ]:
data3.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,0.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,0.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,0.0,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [ ]:
data3.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000.0,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,0.0,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500.0,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,0.0,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000.0,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

# STARTUP FUNDING 2019

In [ ]:
data4= pd.read_csv('C:\\Users\\Admin\\Pictures\\Demo Indian Startup\\Demo-indian-start-up\\Notebooks\\startup_funding2019.csv')
data4

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [ ]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [ ]:
data4.describe().T

         count         mean       std     min     25%     50%      75%     max
Founded   60.0  2014.533333  2.937003  2004.0  2013.0  2015.0  2016.25  2019.0

In [ ]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [ ]:
data4.shape

(89, 9)

In [ ]:
print(data4.dtypes)

Company/Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What it does      object
Founders          object
Investor          object
Amount($)         object
Stage             object
dtype: object

In [ ]:
data4.duplicated().sum()

0

In [ ]:
data4.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

#CLEANING THE DATASET

In [ ]:

# For 'Founded', fill missing values with the unknown
data4['Founded'].fillna(0, inplace=True)

# For columns with a few missing values, fill with 'Unknown'
data4['HeadQuarter'].fillna('Unknown', inplace=True)
data4['Sector'].fillna('Unknown', inplace=True)
data4['Founders'].fillna('Unknown', inplace=True)
data4['Stage'].fillna('unknown', inplace =True)

In [ ]:
#Treating the 'founded' as Year
# Convert 'Founded' to integer type
data4['Founded'] = data4['Founded'].astype(int)

In [ ]:
# Step 1: Convert the column to string type
data4['Amount($)'] = data4['Amount($)'].astype(str)

# Step 2: Remove any non-numeric characters, such as '$' and ','
data4['Amount($)'] = data4['Amount($)'].str.replace('[\$,]', '', regex=True)

# Step 3: Replace 'undisclosed' with NaN
data4['Amount($)'].replace('undisclosed', np.nan, inplace=True)

# Step 4: Convert the column to numeric (float), ignoring errors
data4['Amount($)'] = pd.to_numeric(data4['Amount($)'], errors='coerce')

# Step 5: Fill missing values with 0
data4['Amount($)'].fillna(0, inplace=True)

# Confirm the datatype conversion
print(data4.dtypes)

# Print the cleaned DataFrame
print(data4)

Company/Brand     object
Founded            int32
HeadQuarter       object
Sector            object
What it does      object
Founders          object
Investor          object
Amount($)        float64
Stage             object
dtype: object
      Company/Brand  Founded HeadQuarter                   Sector  \
0    Bombay Shaving        0     Unknown                Ecommerce
1         Ruangguru     2014      Mumbai                   Edtech
2          Eduisfun        0      Mumbai                   Edtech
3          HomeLane     2014     Chennai          Interior design
4          Nu Genes     2004   Telangana                 AgriTech
..              ...      ...         ...                      ...
84     Infra.Market        0      Mumbai                Infratech
85              Oyo     2013    Gurugram              Hospitality
86       GoMechanic     2016       Delhi  Automobile & Technology
87           Spinny     2015       Delhi               Automobile
88  Ess Kay Fincorp        0   Rajasthan                  Banking

                                         What it does  \
0          Provides a range of male grooming products
1   A learning platform that provides topic-based ...
2             It aims to make learning fun via games.
3               Provides interior designing solutions
4   It is a seed company engaged in production, pr...
..                                                ...
84  It connects client requirements to their suppl...
85                Provides rooms for comfortable stay
86  Find automobile repair and maintenance service...
87                                Online car retailer
88              Organised Non-Banking Finance Company

                                             Founders  \
0                                  Shantanu Deshpande
1               Adamas Belva Syah Devara, Iman Usman.
2                                       Jatin Solanki
3                        Srikanth Iyer, Rama Harinath
4                              Narayana Reddy Punyala
..                                                ...
84                    Aaditya Sharda, Souvik Sengupta
85                                     Ritesh Agarwal
86  Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...
87  Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...
88                                     Rajendra Setia

                                             Investor    Amount($)  \
0                                Sixth Sense Ventures    6300000.0
1                                    General Atlantic  150000000.0
2      Deepak Parekh, Amitabh Bachchan, Piyush Pandey   28000000.0
3   Evolvence India Fund (EIF), Pidilite Group, FJ...   30000000.0
4            Innovation in Food and Agriculture (IFA)    6000000.0
..                                                ...          ...
84  Tiger Global, Nexus Venture Partners, Accel Pa...   20000000.0
85  MyPreferred Transformation, Avendus Finance, S...  693000000.0
86                                    Sequoia Capital    5000000.0
87  Norwest Venture Partners, General Catalyst, Fu...   50000000.0
88     TPG, Norwest Venture Partners, Evolvence India   33000000.0

            Stage
0         unknown
1        Series C
2   Fresh funding
3        Series D
4         unknown
..            ...
84       Series A
85        unknown
86       Series B
87        unknown
88        unknown

[89 rows x 9 columns]

In [ ]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        89 non-null     int32
 2   HeadQuarter    89 non-null     object
 3   Sector         89 non-null     object
 4   What it does   89 non-null     object
 5   Founders       89 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     float64
 8   Stage          89 non-null     object
dtypes: float64(1), int32(1), object(7)
memory usage: 6.0+ KB

# MERGING AND CONCATENATING ALL DATASETS

In [ ]:
# Standardize column names
data.columns = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage']
data2.columns = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage']
data3.columns = ['Company_Brand', 'Sector', 'Stage', 'Amount', 'HeadQuarter', 'What_it_does']
data4.columns = ['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders', 'Investor', 'Amount', 'Stage']

# Convert 'Amount' columns to float and handle currency conversion
exchange_rate_inr_to_usd = 83  

def clean_and_convert_amount(df, currency='USD'):
    df['Amount'] = df['Amount'].replace({'\$': '', ',': '', '₹': ''}, regex=True)
    if currency == 'INR':
        df['Amount'] = df['Amount'].astype(float) / exchange_rate_inr_to_usd
    else:
        df['Amount'] = df['Amount'].astype(float)
    return df

data = clean_and_convert_amount(data, 'USD')
data2 = clean_and_convert_amount(data2, 'USD')
data3 = clean_and_convert_amount(data3, 'INR')  # Assuming df3 amounts are in INR
data4 = clean_and_convert_amount(data4, 'USD')

# Combine DataFrames
df_combined = pd.concat([data, data2, data3, data4], ignore_index=True)

# Handle missing values (example: fill with 'Unknown' or drop)
df_combined.fillna('Unknown', inplace=True)

# Verify the combined DataFrame
print(df_combined.info())
print(df_combined.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2856 entries, 0 to 2855
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2856 non-null   object
 1   Founded        2856 non-null   object
 2   HeadQuarter    2856 non-null   object
 3   Sector         2856 non-null   object
 4   What_it_does   2856 non-null   object
 5   Founders       2856 non-null   object
 6   Investor       2856 non-null   object
 7   Amount         2856 non-null   float64
 8   Stage          2856 non-null   object
dtypes: float64(1), object(8)
memory usage: 200.9+ KB
None
  Company_Brand Founded HeadQuarter              Sector  \
0    Aqgromalin  2019.0     Chennai            AgriTech
1      Krayonnz  2019.0   Bangalore              EdTech
2  PadCare Labs  2018.0        Pune  Hygiene management
3         NCOME  2020.0   New Delhi              Escrow
4    Gramophone  2016.0      Indore            AgriTech

                                        What_it_does  \
0                       Cultivating Ideas for Profit
1  An academy-guardian-scholar centric ecosystem ...
2   Converting bio-hazardous waste to harmless waste
3                       Escrow-as-a-service platform
4  Gramophone is an AgTech platform enabling acce...

                                            Founders  \
0                    Prasanna Manogaran, Bharani C L
1                   Saurabh Dixit, Gurudutt Upadhyay
2                                    Ajinkya Dhariya
3                                      Ritesh Tiwari
4  Ashish Rajan Singh, Harshit Gupta, Nishant Mah...

                              Investor     Amount     Stage
0                      Angel investors   200000.0   Unknown
1                      GSF Accelerator   100000.0  Pre-seed
2                       Venture Center  3000000.0  Pre-seed
3  Venture Catalysts, PointOne Capital   400000.0   Unknown
4  Siana Capital Management, Info Edge   340000.0   Unknown

In [ ]:
df_combined.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,Unknown
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,3000000.0,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,Unknown
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,Unknown

In [ ]:
df_combined.isnull().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount           0
Stage            0
dtype: int64

In [ ]:
df_combined.duplicated().sum()

0

In [ ]:
df_combined.describe().T

,count,mean,std,min,25%,50%,75%,max
Amount,2856.0,9.584688e+07,3.097908e+09,0.0,150000.0,2000000.0,6000000.0,1.500000e+11

In [ ]:
df_combined.dtypes

Company_Brand     object
Founded           object
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount           float64
Stage             object
dtype: object

In [ ]:
df_combined.nunique()

Company_Brand    2214
Founded            36
HeadQuarter       173
Sector            874
What_it_does     2691
Founders         1981
Investor         1778
Amount            479
Stage              77
dtype: int64

In [ ]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2856 entries, 0 to 2855
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2856 non-null   object
 1   Founded        2856 non-null   object
 2   HeadQuarter    2856 non-null   object
 3   Sector         2856 non-null   object
 4   What_it_does   2856 non-null   object
 5   Founders       2856 non-null   object
 6   Investor       2856 non-null   object
 7   Amount         2856 non-null   float64
 8   Stage          2856 non-null   object
dtypes: float64(1), object(8)
memory usage: 200.9+ KB

In [ ]:
df_combined.shape

(2856, 9)

#Treating the 'founded' as Year
# Convert 'Founded' to integer type

In [ ]:
# Replace 'Unknown' or other non-numeric values with NaN
df_combined['Founded'] = df_combined['Founded'].replace('Unknown', np.nan)

In [ ]:
# Convert 'Founded' column to float first, then to integer
df_combined['Founded'] = df_combined['Founded'].astype(float).astype('Int64')

In [ ]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2856 entries, 0 to 2855
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2856 non-null   object
 1   Founded        2331 non-null   Int64
 2   HeadQuarter    2856 non-null   object
 3   Sector         2856 non-null   object
 4   What_it_does   2856 non-null   object
 5   Founders       2856 non-null   object
 6   Investor       2856 non-null   object
 7   Amount         2856 non-null   float64
 8   Stage          2856 non-null   object
dtypes: Int64(1), float64(1), object(7)
memory usage: 203.7+ KB