# INDIAN STARTUP ECOSYSTEM ANALYSIS

BUSINESS UNDERSTANDING


Our team is exploring the Indian startup ecosystem to understand funding trends and identify promising opportunities. The goal is to analyze funding data from 2018 to 2021, focusing on key factors such as the amount of funding received, sectors, stages of investment, and geographic locations



HPOTHESIS TESTING


Null Hypothesis (H0): There is no significant difference in the amount of funding received by startups across different sectors and stages.



Alternate Hypothesis (H1): There is a significant difference in the amount of funding received by startups across different sectors and stages.

DATA UNDERSTANDING


COLUMNS IN THE DATASET


Company_Brand: Name of the startup.

Founded: Year the startup was founded.

HeadQuarter: City where the startup is headquartered.

Sector: Industry sector of the startup.

What_it_does: Brief description of the startup's business.

Founders: Names of the founders.

Investor: Investors or investment firms that funded the startup.

Amount: Amount of funding received (in dollars).

Stage: Stage of investment (e.g., Pre-seed, Seed, Series A).

ANALYTICAL QUESTIONS


1. Funding Trends:
- How has the total funding amount changed year over year from 2018 to 2021?

- How has the average funding amount in each sector changed over the years (2018 - 2021)


2. Sector Analysis:
- Which sectors have received the most funding, and how does the funding distribution vary across sectors?

- What are the key sectors that exhibit a high number of startups, and how does this startup count vary across different sectors?

3.Stage Analysis:
What is the distribution of funding across different investment stages (e.g., Pre-seed, Seed, Series A)?


4. Geographical Analysis:
Which cities or regions have the highest concentration of funded startups?


5.Investor Influence:
Who are the top investors in the Indian startup ecosystem, and what is their funding pattern?


6. Founder Impact:
Is there a correlation between the number of founders and the amount of funding received?



7. What are the characteristics of startups in the highest-funded sectors (e.g., number of founders, location)?


8. Which Business is more viable to set - The best performing businesses?

In [6]:
%pip install pyodbc  
%pip install python-dotenv

Requirement already satisfied: pyodbc in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import numpy as np
import warnings 

warnings.filterwarnings('ignore')

In [8]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("username")
password = environment_variables.get("password")

In [9]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [10]:
# This will connect to the server and might take a few seconds to be complete.

connection = pyodbc.connect(connection_string)

# STARTUP ECOSYSTEM 2018-2021

In [28]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = '''SELECT * FROM dbo.LP1_startup_funding2020'''
query = '''SELECT * FROM dbo.LP1_startup_funding2021'''
data_2018 = pd.read_csv('C:\\Users\\Admin\\Music\\Demo-indian-start-up\\Notebooks\\startup_funding2018.csv')
data_2018
data_2019 = pd.read_csv('C:\\Users\\Admin\\Music\\Demo-indian-start-up\\Notebooks\\startup_funding2019.csv')
data_2019
data_2020 = pd.read_sql(query, connection)
data_2020
data_2021 = pd.read_sql(query, connection)
data_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

# EXPLORING THE DATA

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# DATA_2018

In [ ]:
#Knowing the first 10 rows
data_2018.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None

In [30]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

# DATA_2019

In [31]:
data_2019.head(10)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN
7,Kratikal,2013.0,Noida,Technology,It is a product-based cybersecurity solutions ...,"Pavan Kushwaha, Paratosh Bansal, Dip Jung Thapa","Gilda VC, Art Venture, Rajeev Chitrabhanu.","$1,000,000",Pre series A
8,Quantiphi,NaN,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,"$20,000,000",Series A
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,"$275,000,000",Series G

In [32]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

# DATA_2020

In [33]:
data_2020.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None

In [34]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

# DATA_2021

In [35]:
data_2021.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None

In [36]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

Realising All Datset Has Same Columns with the Exception of 2018, I Decide to Standardise 2018 column since it contains same information as the others and then concatenate all the dataset.

Standardising 2018 columns

In [37]:
#Rename columns of data_2018 to match combined_data
data_2018 = data_2018.rename(columns={
    'Company Name': 'Company_Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'Amount': 'Amount',
    'Location': 'HeadQuarter',
    'About Company': 'What_it_does'
})

# CONCATENATING ALL THE DATSET

In [38]:
# Combine all datasets
df_combined = pd.concat([data_2019, data_2020, data_2021, data_2018], ignore_index=True)

#More Exploration of the combined

In [39]:
df_combined.describe().T

          count       mean       std     min     25%     50%     75%     max
Founded  2476.0  2016.6042  4.496199  1963.0  2015.0  2018.0  2020.0  2021.0

In [40]:
df_combined.dtypes

Company/Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What it does      object
Founders          object
Investor          object
Amount($)         object
Stage             object
Company_Brand     object
What_it_does      object
Amount            object
dtype: object

In [41]:
df_combined.nunique()

Company/Brand      87
Founded            30
HeadQuarter       123
Sector            664
What it does       88
Founders         1173
Investor         1013
Amount($)          50
Stage              52
Company_Brand    1498
What_it_does     1656
Amount            454
dtype: int64

In [42]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        2476 non-null   float64
 2   HeadQuarter    3012 non-null   object
 3   Sector         3028 non-null   object
 4   What it does   89 non-null     object
 5   Founders       2496 non-null   object
 6   Investor       2383 non-null   object
 7   Amount($)      89 non-null     object
 8   Stage          2131 non-null   object
 9   Company_Brand  2944 non-null   object
 10  What_it_does   2944 non-null   object
 11  Amount         2938 non-null   object
dtypes: float64(1), object(11)
memory usage: 284.5+ KB

In [43]:
df_combined.shape

(3033, 12)

In [44]:
df_combined.duplicated().sum()

1229

In [45]:
df_combined.isna().sum()

Company/Brand    2944
Founded           557
HeadQuarter        21
Sector              5
What it does     2944
Founders          537
Investor          650
Amount($)        2944
Stage             902
Company_Brand      89
What_it_does       89
Amount             95
dtype: int64

# DATA CLEANING

#Realising the duplicated column Names, I decided to rename and Standardise them.

In [46]:
# Renaming columns to standardize names
df_combined.rename(columns={
    'Company/Brand': 'Company_Brand',
    'What it does': 'What_it_does',
    'Amount($)': 'Amount'
}, inplace=True)

In [47]:
# Check for duplicated columns
df_combined.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
        True,  True,  True])

In [48]:
# Rename duplicate columns to make them unique
df_combined.columns = ['Company_Brand_1', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does_1', 'Founders', 'Investor', 'Amount_1', 'Stage', 'Company_Brand_2', 'What_it_does_2', 'Amount_2']

# Merge the duplicated columns
df_combined['Company_Brand'] = df_combined['Company_Brand_1'].combine_first(df_combined['Company_Brand_2'])
df_combined['What_it_does'] = df_combined['What_it_does_1'].combine_first(df_combined['What_it_does_2'])
df_combined['Amount'] = df_combined['Amount_1'].combine_first(df_combined['Amount_2'])

# Drop the original duplicated columns after merging
df_combined.drop(columns=['Company_Brand_1', 'Company_Brand_2', 'What_it_does_1', 'What_it_does_2', 'Amount_1', 'Amount_2'], inplace=True)

In [49]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Founded        2476 non-null   float64
 1   HeadQuarter    3012 non-null   object
 2   Sector         3028 non-null   object
 3   Founders       2496 non-null   object
 4   Investor       2383 non-null   object
 5   Stage          2131 non-null   object
 6   Company_Brand  3033 non-null   object
 7   What_it_does   3033 non-null   object
 8   Amount         3027 non-null   object
dtypes: float64(1), object(8)
memory usage: 213.4+ KB

In [51]:
# Check for missing values
missing_values = df_combined.isnull().sum()

# Print the missing values for each column
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 Founded          557
HeadQuarter       21
Sector             5
Founders         537
Investor         650
Stage            902
Company_Brand      0
What_it_does       0
Amount             6
dtype: int64

# COLUMN BY COLUMN CLEANING

COLUMN-AMOUNT

In [52]:
df_combined['Amount'].unique()

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000', '$1,200,000', '$51,000,000', '$188,000,000',
       '$200,000', '$3,000,000', '$700,000', '$9,000,000', '$40,000,000',
       '$49,000,000', '$300,000', '$160,000,000', '$1,800,000',
       '$850,000', '$53,000,000', '$500,000', '$1,100,000', '$800,000',
       '$10,000,000', '$21,000,000', '$7,500,000', '$7,400,000',
       '$800,000,000', '$17,000,000', '$3,500,000', '$215,000,000',
       '$350,000,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$13,000,000', None, '$Undisclosed',
       '$2000000', '$800000', '$6000000', '$2500000', '$9500000',
       '$13000000', '$5000000', '$8000000', '$1000000', 'Upsparks',
       '$200000', '$12000000', '$1500000', '$1700000', '$5500000',
       '$400000', '$150000000', '$4000000', '$100000000', '$500000',
       '$15000000', '$10000000', '$40000000', '$225000000', '$6700000',
       '$1300000', '$20000000', '$250000', '$21000000', '$1200000',
       '$52000000', '$3800000', '$17500000', '$42000000', '$2300000',
       '$7000000', '$30000000', '$450000000', '$28000000', '$300000',
       '$3500000', '$8500000', '$25000000', '$3000000', '$37000000',
       '$370000000', '$700000', '$16000000', '$100000', '$44000000',
       '$770000', '$125000000', '$35000000', '$50000000', '$4900000',
       '$145000000', '$22000000', '$70000000', '$6600000', '$32000000',
       '$24000000', '$725000', '$461000', 'Series C', 'Seed', '$96000000',
       '$60000000', '$500000000', '$266000000', '$4500000', '$325000000',
       '$6500000', '$1600000', '$150000', '$225000', '$85000000',
       '$235000', '$260000', '$2900000', '$53000000', '$1100000',
       '$86000000', '$130000', '$$100,00', '$111000000', '$265000',
       '$76000000', '$75,000,000', '$3,800,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$350,000', '$95,000,000',
       '$4,100,000', '$5,200,000', '$1,400,000', '$2,600,000', '$900,000',
       '$250,000', '$16,000,000', '$280,000,000', '$14,300,000',
       '$81,000,000', '$1,300,000', '$8,200,000', '$720,000', '$600000',
       '$9000000', '$1800000', '$330000', '$undisclosed', '$200000000',
       '$36000000', '$67000000', '$10200000', '$220000000', '$108000000',
       '$75000000', '$450000', '$660000000', 'ah! Ventures', '$45000000',
       '$3200000', '$370000', 'Pre-series A',
       'ITO Angel Network, LetsVenture', '$48000000', '$3600000',
       '$11000000', '$192000000', '$65000000', '$1400000', '$1900000',
       '$41000000', '$144000000', '$5200000', '$270000000', '$140000',
       '$250000000', '$320000', '$350000000', '$4800000', '$38000000',
       '$125000', '$26000000', '$64000000', '$620000', '$900000',
       'JITO Angel Network, LetsVenture', '$2600000', '$1,250,000',
       '$400,000,000', '$1,700,000', '$27,000,000', '$234,000,000',
       '$460,000,000', '$13,500,000', '$5,100,000', '$195,000,000',
       '$125,000', '$45,000,000', '$200,000,000', '$7,300,000',
       '$12,500,000', '$24,000,000', '$16,500,000', '$340,000',
       '$43,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000', '250000', '₹40,000,000', '₹65,000,000',
       '2000000', '—', '1600000', '₹16,000,000', '₹50,000,000',
       '₹100,000,000', '150000', '1100000', '₹500,000', '6000000',
       '650000', '₹35,000,000', '₹64,000,000', '₹20,000,000', '1000000',
       '5000000', '4000000', '₹30,000,000', '2800000', '1700000',
       '1300000', '₹5,000,000', '₹12,500,000', '₹15,000,000', '500000',
       '₹104,000,000', '₹45,000,000', '13400000', '₹25,000,000',
       '₹26,400,000', '₹8,000,000', '₹60,000', '9000000', '100000',
       '20000', '120000', '₹34,000,000', '₹342,000,000', '$143,145',
       '₹600,000,000', '$742,000,000', '₹1,000,000,000', '₹2,000,000,000',
       '$3,980,000', '$10,000', '₹100,000', '₹250,000,000',
       '₹550,000,000', '$28,500,000', '₹240,000,000', '₹120,000,000',
       '$2,400,000', '₹2,500,000,000', '$23,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '₹650,000,000', '₹1,600,000,000',
       '₹70,000,000', '$14,000,000', '₹102,500,000', '₹1,200,000',
       '₹5,200,000,000', '$1,041,000', '$15,000', '1400000', '1200000',
       '2200000', '1800000', '3600000', '₹9,500,000', '300000', '6830000',
       '200000', '₹150,000,000', '4300000', '364846', '400000', '1500000',
       '₹7,000,000', '₹1,400,000', '₹10,000,000', '₹22,500,000',
       '13200000', '50000', '₹140,200,000', '3000000', '1250000',
       '180000', '₹19,200,000', '₹103,000,000', '4200000', '175000',
       '1450000', '₹200,000', '4500000', '600000', '₹16,600,000',
       '₹12,000,000', '15000000', '₹33,000,000', '125000', '130000',
       '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000', '3500000',
       '₹135,000,000', '12000000', '₹1,540,000,000', '₹140,000,000',
       '$41,900,000', '₹1,410,000,000', '$3,530,000', '$3,300,000',
       '₹580,000,000', '₹36,000,000', '₹340,000,000', '$210,000,000',
       '$37,680,000', '$20,000', '₹510,000,000', '₹2,200,000,000',
       '22000000', '70000', '10000000', '₹15,392,000,000',
       '₹20,000,000,000', '₹4,000,000,000', '185000000', '65000000',
       '₹165,000,000', '700000', '30000000', '₹210,000,000', '210000000',
       '₹2,029,600,000', '75000000', '₹80,000,000', '1760000', '2700000',
       '₹280,000,000', '₹800,000,000', '750000', '2500000', '80000000',
       '25000000', '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [53]:
# Function to clean and normalize the 'Amount' column
def clean_amount(amount):
    if pd.isna(amount) or amount in ['Undisclosed', '$Undisclosed', 'Upsparks']:
        return np.nan
    amount = amount.replace(',', '').replace('$', '').replace('₹', '')
    try:
        amount = float(amount)
    except ValueError:
        return np.nan
    return amount

# Apply the cleaning function to the 'Amount' column
df_combined['Amount'] = df_combined['Amount'].apply(clean_amount)

# Create a temporary column to identify the currency type
df_combined['Currency'] = df_combined['Amount'].apply(lambda x: 'INR' if '₹' in str(x) else 'USD')

# Function to convert all amounts to USD
def convert_currency(amount, currency):
    if currency == 'INR':
        return amount * 0.013  # Assuming an exchange rate of 1 INR = 0.013 USD
    return amount

In [54]:
# Convert all amounts to USD
df_combined['Amount'] = df_combined.apply(lambda row: convert_currency(row['Amount'], row['Currency']), axis=1)

# Drop the temporary 'Currency' column
df_combined.drop(columns=['Currency'], inplace=True)

# Convert the cleaned 'Amount' column to numeric, forcing errors to NaN
df_combined['Amount'] = pd.to_numeric(df_combined['Amount'], errors='coerce')

# Check for missing values before filling
missing_values_before = df_combined['Amount'].isnull().sum()
print(f"Missing values in 'Amount' column before filling: {missing_values_before}")

# Fill remaining missing values in 'Amount' column with the median value
df_combined['Amount'].fillna(df_combined['Amount'].median(), inplace=True)

# Check for missing values after filling
missing_values_after = df_combined['Amount'].isnull().sum()
print(f"Missing values in 'Amount' column after filling: {missing_values_after}")

# Check the cleaned DataFrame
df_combined.info()

Missing values in 'Amount' column before filling: 466
Missing values in 'Amount' column after filling: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Founded        2476 non-null   float64
 1   HeadQuarter    3012 non-null   object
 2   Sector         3028 non-null   object
 3   Founders       2496 non-null   object
 4   Investor       2383 non-null   object
 5   Stage          2131 non-null   object
 6   Company_Brand  3033 non-null   object
 7   What_it_does   3033 non-null   object
 8   Amount         3033 non-null   float64
dtypes: float64(2), object(7)
memory usage: 213.4+ KB

COLUMN - FOUNDED

In [55]:
df_combined['Founded'].unique()

array([  nan, 2014., 2004., 2013., 2010., 2018., 2019., 2017., 2011.,
       2015., 2016., 2012., 2008., 2021., 2020., 1993., 1999., 1989.,
       2009., 2002., 1994., 2006., 2000., 2007., 1978., 2003., 1998.,
       1991., 1984., 2005., 1963.])

In [57]:
# Rename the column
df_combined.rename(columns={'Founded': 'Year'}, inplace=True)

# Convert the 'Year' column to datetime format (handling NaNs appropriately)
df_combined['Year'] = pd.to_datetime(df_combined['Year'], format='%Y', errors='coerce')

# Check unique values to ensure conversion
df_combined['Year'].unique()

<DatetimeArray>
['2018-01-01 00:00:00', '2014-01-01 00:00:00', '2004-01-01 00:00:00',
 '2013-01-01 00:00:00', '2010-01-01 00:00:00', '2019-01-01 00:00:00',
 '2017-01-01 00:00:00', '2011-01-01 00:00:00', '2015-01-01 00:00:00',
 '2016-01-01 00:00:00', '2012-01-01 00:00:00', '2008-01-01 00:00:00',
 '2021-01-01 00:00:00', '2020-01-01 00:00:00', '1993-01-01 00:00:00',
 '1999-01-01 00:00:00', '1989-01-01 00:00:00', '2009-01-01 00:00:00',
 '2002-01-01 00:00:00', '1994-01-01 00:00:00', '2006-01-01 00:00:00',
 '2000-01-01 00:00:00', '2007-01-01 00:00:00', '1978-01-01 00:00:00',
 '2003-01-01 00:00:00', '1998-01-01 00:00:00', '1991-01-01 00:00:00',
 '1984-01-01 00:00:00', '2005-01-01 00:00:00', '1963-01-01 00:00:00']
Length: 30, dtype: datetime64[ns]

In [58]:
# Handle missing values by filling with the median year
# Calculate the median year as an integer
median_year = int(df_combined['Year'].dropna().dt.year.median())

# Fill missing values with the median year
df_combined['Year'] = df_combined['Year'].fillna(pd.Timestamp(median_year, 1, 1))

# Ensure the 'Year' column is in datetime format
df_combined['Year'] = pd.to_datetime(df_combined['Year'], format='%Y', errors='coerce')

# Check the DataFrame info to ensure proper conversion and filling
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           3033 non-null   datetime64[ns]
 1   HeadQuarter    3012 non-null   object
 2   Sector         3028 non-null   object
 3   Founders       2496 non-null   object
 4   Investor       2383 non-null   object
 5   Stage          2131 non-null   object
 6   Company_Brand  3033 non-null   object
 7   What_it_does   3033 non-null   object
 8   Amount         3033 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 213.4+ KB

COLUMN - HEADQUARTER

In [59]:
df_combined['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan', 'Ahmadabad', None, 'Small Towns, Andhra Pradesh',
       'Goa', 'Rajsamand', 'Ranchi', 'Faridabad, Haryana', 'Gujarat',
       'Thane', 'Computer Games', 'Cochin', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Mohali', 'Indore', 'Powai', 'Ghaziabad', 'Nagpur',
       'West Bengal', 'Patna', 'Samsitpur', 'Lucknow', 'Silvassa',
       'Thiruvananthapuram', 'Faridabad', 'Roorkee', 'Ambernath',
       'Panchkula', 'Coimbatore', 'Andheri', 'Mangalore', 'Telugana',
       'Bhubaneswar', 'Kottayam', 'Beijing', 'Panaji', 'Satara',
       'Orissia', 'Jodhpur', 'New York', 'Santra', 'Mountain View, CA',
       'Trivandrum', 'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar',
       'Bangalore, Karnataka, India', 'Mumbai, Maharashtra, India',
       'Gurgaon, Haryana, India', 'Noida, Uttar Pradesh, India',
       'Hyderabad, Andhra Pradesh, India', 'Bengaluru, Karnataka, India',
       'Kalkaji, Delhi, India', 'Delhi, Delhi, India', 'India, Asia',
       'Hubli, Karnataka, India', 'New Delhi, Delhi, India',
       'Chennai, Tamil Nadu, India', 'Mohali, Punjab, India',
       'Kolkata, West Bengal, India', 'Pune, Maharashtra, India',
       'Jodhpur, Rajasthan, India', 'Kanpur, Uttar Pradesh, India',
       'Ahmedabad, Gujarat, India', 'Azadpur, Delhi, India',
       'Haryana, Haryana, India', 'Cochin, Kerala, India',
       'Faridabad, Haryana, India', 'Jaipur, Rajasthan, India',
       'Kota, Rajasthan, India', 'Anand, Gujarat, India',
       'Bangalore City, Karnataka, India', 'Belgaum, Karnataka, India',
       'Thane, Maharashtra, India', 'Margão, Goa, India',
       'Indore, Madhya Pradesh, India', 'Alwar, Rajasthan, India',
       'Kannur, Kerala, India', 'Trivandrum, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [60]:
# Step 1: Replace anomalies like '\t#REF!' and other known errors
df_combined['HeadQuarter'] = df_combined['HeadQuarter'].replace({
    '\t#REF!': '',
    'Pharmaceuticals\t#REF!': 'Pharmaceuticals',
    'Gurugram\t#REF!': 'Gurugram',
    'Telugana': 'Telangana',
    'Orissia': 'Odisha',
    'Small Towns, Andhra Pradesh': 'Andhra Pradesh',
    'Bangalore': 'Bengaluru',
    'Gurgaon': 'Gurugram',
    'Pune, Maharashtra, India': 'Pune',
    'Hyderabad, Andhra Pradesh, India': 'Hyderabad',
    'Bangalore, Karnataka, India': 'Bengaluru',
    'Mumbai, Maharashtra, India': 'Mumbai',
    'Noida, Uttar Pradesh, India': 'Noida',
    'Chennai, Tamil Nadu, India': 'Chennai',
    'New Delhi, Delhi, India': 'New Delhi',
    'Delhi, Delhi, India': 'Delhi',
    'Haryana, Haryana, India': 'Haryana', 
    'Cochin, Kerala, India': 'Cochin',
    'Jaipur, Rajasthan, India': 'Jaipur',
    'Kolkata, West Bengal, India': 'Kolkata',
    'Powai, Assam, India': 'Powai',
    'Ghaziabad, Uttar Pradesh, India': 'Ghaziabad',
    'Mylapore, Tamil Nadu, India': 'Mylapore',
    'Lucknow, Uttar Pradesh, India': 'Lucknow',
    
})

In [61]:
# Step 2: Remove anomalies and whitespace
df_combined['HeadQuarter'] = df_combined['HeadQuarter'].str.replace(r'\t#REF!', '', regex=True).str.strip()

# Step 3: Standardize city and state/country names
# Create a mapping dictionary for standardizing names
standard_city_names = {
    'Mumbai': 'Mumbai',
    'Bengaluru': 'Bengaluru',
    'Hyderabad': 'Hyderabad',
    'Chennai': 'Chennai',
    'Pune': 'Pune',
    'Noida': 'Noida',
    'New Delhi': 'New Delhi',
    'Delhi': 'Delhi',
    'Gurugram': 'Gurugram',
    'Gurgaon': 'Gurugram',
    'Kolkata': 'Kolkata',
    'Rajasthan': 'Rajasthan',  
    'Odisha': 'Odisha',  
    'Goa': 'Goa',  
    'Gujarat': 'Gujarat',  
    'West Bengal': 'West Bengal',  
    'Jharkhand': 'Jharkhand',  
    'Uttar Pradesh': 'Uttar Pradesh',  
    'Haryana': 'Haryana',  
    'Madhya Pradesh': 'Madhya Pradesh',  
    'Kerala': 'Kerala',  
    'Punjab': 'Punjab',  
    'Andhra Pradesh': 'Andhra Pradesh'
}

In [62]:
# Apply the standardization
df_combined['HeadQuarter'] = df_combined['HeadQuarter'].replace(standard_city_names)

# Step 4: Handle missing values
# For this example, let's fill missing values with 'Unknown'
df_combined['HeadQuarter'].fillna('Unknown', inplace=True)

# Check the cleaned HeadQuarter column
print(df_combined['HeadQuarter'].unique())

# Ensure proper conversion and filling
df_combined.info()

['Unknown' 'Mumbai' 'Chennai' 'Telangana' 'Pune' 'Bengaluru' 'Noida'
 'Delhi' 'Ahmedabad' 'Gurugram' 'Haryana' 'Chandigarh' 'Jaipur'
 'New Delhi' 'Surat' 'Uttar pradesh' 'Hyderabad' 'Rajasthan' 'Ahmadabad'
 'Andhra Pradesh' 'Goa' 'Rajsamand' 'Ranchi' 'Faridabad, Haryana'
 'Gujarat' 'Thane' 'Computer Games' 'Cochin' 'Vadodara' 'Food & Beverages'
 'Pharmaceuticals' 'Kolkata' 'Mohali' 'Indore' 'Powai' 'Ghaziabad'
 'Nagpur' 'West Bengal' 'Patna' 'Samsitpur' 'Lucknow' 'Silvassa'
 'Thiruvananthapuram' 'Faridabad' 'Roorkee' 'Ambernath' 'Panchkula'
 'Coimbatore' 'Andheri' 'Mangalore' 'Bhubaneswar' 'Kottayam' 'Beijing'
 'Panaji' 'Satara' 'Odisha' 'Jodhpur' 'New York' 'Santra'
 'Mountain View, CA' 'Trivandrum' 'Jharkhand' 'Kanpur' 'Bhilwara'
 'Guwahati' 'Online Media' 'Kochi' 'London'
 'Information Technology & Services' 'The Nilgiris' 'Gandhinagar'
 'Gurgaon, Haryana, India' 'Bengaluru, Karnataka, India'
 'Kalkaji, Delhi, India' 'India, Asia' 'Hubli, Karnataka, India'
 'Mohali, Punjab, India' 'Jodhpur, Rajasthan, India'
 'Kanpur, Uttar Pradesh, India' 'Ahmedabad, Gujarat, India'
 'Azadpur, Delhi, India' 'Faridabad, Haryana, India'
 'Kota, Rajasthan, India' 'Anand, Gujarat, India'
 'Bangalore City, Karnataka, India' 'Belgaum, Karnataka, India'
 'Thane, Maharashtra, India' 'Margão, Goa, India'
 'Indore, Madhya Pradesh, India' 'Alwar, Rajasthan, India'
 'Kannur, Kerala, India' 'Trivandrum, Kerala, India'
 'Ernakulam, Kerala, India' 'Kormangala, Karnataka, India'
 'Uttar Pradesh, India, Asia' 'Andheri, Maharashtra, India' 'Mylapore'
 'Kochi, Kerala, India' 'Guntur, Andhra Pradesh, India'
 'Kalpakkam, Tamil Nadu, India' 'Bhopal, Madhya Pradesh, India'
 'Coimbatore, Tamil Nadu, India' 'Worli, Maharashtra, India'
 'Alleppey, Kerala, India' 'Chandigarh, Chandigarh, India'
 'Guindy, Tamil Nadu, India']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           3033 non-null   datetime64[ns]
 1   HeadQuarter    3033 non-null   object
 2   Sector         3028 non-null   object
 3   Founders       2496 non-null   object
 4   Investor       2383 non-null   object
 5   Stage          2131 non-null   object
 6   Company_Brand  3033 non-null   object
 7   What_it_does   3033 non-null   object
 8   Amount         3033 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 213.4+ KB

COLUMN - SECTOR

In [63]:
df_combined['Sector'].unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking', 'AI startup', 'EdTech',
       'B2B E-commerce', 'FinTech', 'Home services', 'HealthTech',
       'Tech Startup', 'B2B service', 'Helathcare', 'Renewable Energy',
       'Electronics', 'IT startup', 'Food & Beverages', 'Aeorspace',
       'Deep Tech', 'Dating', 'Gaming', 'Robotics', 'Retail',
       'Oil and Energy', 'Telecommuncation', 'Milk startup', 'AI Chatbot',
       'IT', 'Fashion', 'Marketing', 'LegalTech', 'Food delivery',
       'Automotive', 'SaaS startup', 'Fantasy sports',
       'Video communication', 'Skill development', 'Rental',
       'Recruitment', 'HealthCare', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'SportsTech', 'HRTech',
       'Wine & Spirits', 'Mechanical & Industrial Engineering',
       'Spiritual', 'Financial Services', 'Industrial Automation',
       'Lifestyle', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Insurance', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Hauz Khas',
       'Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Mobility', 'Social media', 'Real Estate', 'Digital platform',
       'B2B Ecommerce', 'Online Media', 'Social commerce', 'Mobile Games',
       'Food Production', 'Podcast', 'HeathTech', 'Battery',
       'Content publishing', 'Water purification', 'Content commerce',
       'Innovation Management', 'Software company', 'Automation',
       'Food Industry', 'Celebrity Engagement', 'Trading platform',
       'Personal Care', 'Cannabis startup', 'Blogging', 'Consulting',
       'BioTechnology', 'B2B Marketplace', 'Health care', 'Social audio',
       'Fashion and lifestyle', 'Delivery service', 'B2B Manufacturing',
       'Home Decor', 'Solar', 'TaaS startup', 'EV startup', 'HR Tech',
       'Blockchain startup', 'Food and Beverages', 'Beverages',
       'Manufacturing startup', 'Cryptocurrency',
       'Vehicle repair startup', 'Advisory firm', 'Legaltech',
       'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Fitness', 'D2C', 'Environmental Services',
       'Merchandise', 'Facilities Services', 'Marketing & Advertising',
       'Human Resources', 'Eyewear', 'D2C Business', 'Biotechnology',
       'Farming', 'NFT Marketplace', 'Internet', 'SpaceTech',
       'Consumer software', 'Social community', 'Fishery',
       'Renewables & Environment', 'Online storytelling', 'Aviation',
       'IT company', 'Environmental service', 'Job discovery platform',
       'D2C Fashion', 'Heathcare', 'CRM', 'Software', 'Nutrition',
       'D2C startup', 'Innovation management', 'Community platform',
       'Venture capitalist', 'Networking', 'Commercial Real Estate',
       'AR startup', 'Consumer service', 'Consumer goods', 'MarTech',
       'Advertisement', 'Content creation', 'Augmented reality',
       'Rental space', 'Bike Rental', 'Beauty products', 'Tourism',
       'FemTech', 'Cultural', 'Co-working', 'InsureTech',
       'Supply chain platform', 'Social platform', 'CleanTech',
       'Real estate', 'AI company', 'Sports startup', 'Matrimony',
       'Crypto', 'Clothing', 'Analytics', 'Finance', 'IoT platform',
       'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Design', 'B2B Travel', 'Interior Design',
       'Manchester, Greater Manchester', 'Product studio',
       'Aviation & Aerospace', 'Staffing & Recruiting',
       'Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Food Delivery', 'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food',
       'E-Commerce, Fashion, Jewelry, Retail', 'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive, Retail',
       'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Consumer',
       'B2B, Farming, Marketplace', 'Wealth Management',
       'Education, Gaming, Training',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'Digital Media', 'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Finance, Financial Services, Marketing',
       'Biotechnology, Health Care, Life Science, Medical Device',
       'Education, Human Resources',
       'Apps, Health Care, Hospital, Mobile Apps',
       'Delivery Service, Logistics, Service Industry',
       'Big Data, Data Visualization, Logistics, Software',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Media and Entertainment, News, Publishing',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Agriculture, AgTech, Manufacturing',
       'Digital Media, News, Publishing', 'Health Care, Hospital',
       'B2B, E-Commerce, Enterprise',
       'Fraud Detection, Information Services, Security',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Cryptocurrency, Trading Platform',
       'Finance, FinTech, Mobile Payments', 'Wedding',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'Digital Entertainment',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Delivery, Drones, Geospatial, Robotics',
       'Health Care, Information Technology, Management Information Systems',
       'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations',
       'Career Planning, Education, Higher Education, Service Industry',
       'Medical Device', 'Alternative Medicine, Health Care',
       'Internet, Software',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Financial Services, Insurance, Private Social Networking',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'Advertising, Internet, Marketing',
       'Human Resources, Security, Training',
       'Consumer Lending, Finance, FinTech',
       'Marketing, Social Media, Video', 'Food Processing', 'Apps',
       'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation',
       'Digital Entertainment, Fantasy Sports, Gaming, Sports',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Commercial, E-Learning, Education',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Smart Cities, Telecommunications', 'Internet of Things, Robotics',
       'Apps, Home Services, Information Services, Information Technology',
       'Medical, Tourism', 'Career Planning, Education, Internet',
       'Fashion, Graphic Design, Wearables',
       'Communities, Leisure, Mobile Apps, Software',
       'Automotive, Rental, Sharing Economy',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Information Technology, SaaS, Security',
       'Crowdfunding, Financial Services, Internet',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'EdTech, Education, Mobile, Tutoring', 'Social Media, Sports',
       'Biopharma', 'E-Commerce, E-Commerce Platforms, Retail',
       'E-Commerce, Fashion, Shopping',
       'Digital Entertainment, Mobile, PC Games',
       'Finance, Financial Services, Small and Medium Businesses',
       'Artificial Intelligence, Energy, Oil and Gas',
       'Computer, FinTech, Risk Management, Software',
       'Apps, Financial Services, FinTech',

In [64]:
import numpy as np

def sector_redistribution(sector):
    # Check if the sector is a float or NaN
    if isinstance(sector, float) and not np.isnan(sector):
        # Convert float to string
        return str(int(sector))  # Convert float to integer and then to string
    elif pd.isnull(sector):
        # Handle NaN values, you can return a default value or handle as needed
        return 'Unknown'
    else:
        # Sector is already a string, return it as is
        return sector

In [65]:
import re
import pandas as pd

def sector_redistribution(sector):
    if isinstance(sector, str):
        if re.search(r'bank|fintech|finance|crypto|account|credit|venture|crowd|blockchain', sector, re.IGNORECASE):
            return 'Finance'
        elif re.search(r'automotive|air transport|transport|logistics|vehicle|transportation', sector, re.IGNORECASE):
            return 'Transport'
        else:
            return sector
    else:
        return sector

# Apply the function to the 'Sector' column
df_combined['Sector'] = df_combined['Sector'].apply(sector_redistribution)

In [66]:
df_combined['Sector'].fillna('Unknown', inplace=True)

COLUMN - FOUNDERS

In [67]:
df_combined['Founders'].unique()

array(['Shantanu Deshpande', 'Adamas Belva Syah Devara, Iman Usman.',
       'Jatin Solanki', ..., 'Bala Sarda', 'Arnav Kumar, Vaibhav Singh',
       'Vishal Chopra, Himanshu Gupta'], dtype=object)

In [68]:
# Analyzing the most frequent founders' names
founders_frequency = df_combined['Founders'].value_counts()
founders_frequency.head(20)  # Displaying top 20 most frequent founders' names

Founders
Ashneer Grover, Shashvat Nakrani                   14
Byju Raveendran, Divya Gokulnath                   10
Ritesh Agarwal                                      9
Bhavish Aggarwal                                    8
Nirmit Parikh                                       6
Prabhkiran Singh                                    6
Ankur Gupta                                         6
Utham Gowda                                         6
Kunal Shah                                          6
Ashish Singhal, Govind Soni, Vimal Sagar Tiwari     6
Kshama Fernandes                                    6
Saurav Kumar                                        5
Saurabh Saxena                                      4
Nitish Mittersain                                   4
Sankar Bora, Sourjyendu Medda, Vineet Rao           4
Kajal Ilmi                                          4
Sai Srinivas Kiran G, Shubham Malhotra              4
Aman Gupta, Sameer Mehta                            4
Vineet Khanna, Varun Sadana, Aman Tekriwal          4
Sahil Barua                                         4
Name: count, dtype: int64

In [69]:
# Step 1: Replace anomalies with NaN
def clean_founders(founders):
    if isinstance(founders, str) and re.search(r'^\s*\.+\s*$|^\s*$|unknown|nan', founders, re.IGNORECASE):
        return np.nan
    return founders

df_combined['Founders'] = df_combined['Founders'].apply(clean_founders)

# Check the remaining missing values
missing_founders_count = df_combined['Founders'].isna().sum()
f"Remaining missing values in 'Founders' column: {missing_founders_count}"

"Remaining missing values in 'Founders' column: 702"

In [70]:
# Step 2: Use the most frequent names to fill missing values
most_frequent_founders = [
    "Ashneer Grover, Shashvat Nakrani",
    "Byju Raveendran, Divya Gokulnath",
    "Ritesh Agarwal",
    "Bhavish Aggarwal",
    "Nirmit Parikh",
    "Prabhkiran Singh",
    "Ankur Gupta",
    "Utham Gowda",
    "Kunal Shah",
    "Ashish Singhal, Govind Soni, Vimal Sagar Tiwari",
    "Kshama Fernandes",
    "Saurav Kumar",
    "Saurabh Saxena",
    "Nitish Mittersain",
    "Sankar Bora, Sourjyendu Medda, Vineet Rao",
    "Kajal Ilmi",
    "Sai Srinivas Kiran G, Shubham Malhotra",
    "Aman Gupta, Sameer Mehta",
    "Vineet Khanna, Varun Sadana, Aman Tekriwal",
    "Sahil Barua"
]

# Function to fill missing values
def fill_missing_founders_with_patterns(founders):
    if pd.isna(founders):
        return np.random.choice(most_frequent_founders)
    return founders

df_combined['Founders'] = df_combined['Founders'].apply(fill_missing_founders_with_patterns)

In [71]:
# Step 3: Verify if there are any remaining missing values
remaining_missing_values = df_combined['Founders'].isna().sum()
f"Remaining missing values in 'Founders' column after imputation: {remaining_missing_values}"

"Remaining missing values in 'Founders' column after imputation: 0"

COLUMN - INVESTOR

In [73]:
df_combined['Investor'].unique()

array(['Sixth Sense Ventures', 'General Atlantic',
       'Deepak Parekh, Amitabh Bachchan, Piyush Pandey', ...,
       'Winter Capital, ETS, Man Capital',
       '3one4 Capital, Kalaari Capital', nan], dtype=object)

In [74]:
# Analyzing the most frequent founders' names
Investor_frequency = df_combined['Investor'].value_counts()
Investor_frequency.head(20)  # Displaying top 20 most frequent Investor' names

Investor
Inflection Point Ventures                        49
Venture Catalysts                                23
Tiger Global                                     22
Elevation Capital                                14
Titan Capital                                    13
We Founder Circle                                12
Sixth Sense Ventures                             11
Sequoia Capital India                            10
Kalaari Capital                                  10
Anicut Angel Fund                                10
Alteria Capital                                   9
Mumbai Angels Network                             9
SucSEED Indovation Fund                           8
Venture Catalysts, 9Unicorns Accelerator Fund     8
9Unicorns                                         8
Better Capital                                    8
Unicorn India Ventures                            8
Blue Ashva Capital                                8
Y Combinator                                      8
Sequoia Capital                                   7
Name: count, dtype: int64

In [75]:
# Step 1: Clean the 'Investor' column by replacing anomalies and NaN values
def clean_investor(investor):
    if isinstance(investor, str) and re.search(r'^\s*\.+\s*$|^\s*$|unknown|nan', investor, re.IGNORECASE):
        return np.nan
    return investor

df_combined['Investor'] = df_combined['Investor'].apply(clean_investor)

In [72]:
df_combined['Investor'].unique()

array(['Sixth Sense Ventures', 'General Atlantic',
       'Deepak Parekh, Amitabh Bachchan, Piyush Pandey', ...,
       'Winter Capital, ETS, Man Capital',
       '3one4 Capital, Kalaari Capital', nan], dtype=object)

In [76]:
# List of top 20 most frequent investors
top_investors = [
    'Inflection Point Ventures', 'Venture Catalysts', 'Tiger Global', 'Elevation Capital',
    'Titan Capital', 'We Founder Circle', 'Sixth Sense Ventures', 'Sequoia Capital India',
    'Kalaari Capital', 'Anicut Angel Fund', 'Alteria Capital', 'Mumbai Angels Network',
    'SucSEED Indovation Fund', 'Venture Catalysts, 9Unicorns Accelerator Fund', '9Unicorns',
    'Better Capital', 'Unicorn India Ventures', 'Blue Ashva Capital', 'Y Combinator', 'Sequoia Capital'
]

In [77]:
# Function to fill missing values with top 20 most frequent investors
def fill_missing_investors(investor):
    if pd.isna(investor):
        return np.random.choice(top_investors)
    return investor

# Apply the fill_missing_investors function to fill missing values
df_combined['Investor'] = df_combined['Investor'].apply(fill_missing_investors)

COLUMN - STAGE

In [78]:
df_combined['Stage'].unique()

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round', 'Pre-series A', None, 'Seed', 'Pre-seed',
       'Pre-series B', 'Debt', '$1200000', 'Bridge', 'Seed+', 'Series F2',
       'Series A+', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', '$300000', 'Early seed', 'Series D1', '$6000000',
       '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I',
       'Angel', 'Pre-Seed', 'Private Equity', 'Venture - Series Unknown',
       'Grant', 'Debt Financing', 'Post-IPO Debt', 'Corporate Round',
       'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Secondary Market', 'Post-IPO Equity', 'Non-equity Assistance',
       'Funding Round'], dtype=object)

In [79]:
stage_unique = {
    'Stage': [
        np.nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A', 'Series A', 'Series G', 'Series B',
        'Post series A', 'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+', 'Seed round',
        'Pre-series A', None, 'Seed', 'Pre-seed', 'Pre-series B', 'Debt', '$1200000', 'Bridge', 'Seed+', 'Series F2',
        'Series A+', 'Series H', 'Series B3', 'PE', 'Series F1', 'Pre-series A1', '$300000', 'Early seed', 'Series D1',
        '$6000000', '$1000000', 'Seies A', 'Pre-series', 'Series A2', 'Series I', 'Angel', 'Pre-Seed', 'Private Equity',
        'Venture - Series Unknown', 'Grant', 'Debt Financing', 'Post-IPO Debt', 'Corporate Round', 'Undisclosed',
        'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
        'Secondary Market', 'Post-IPO Equity', 'Non-equity Assistance', 'Funding Round'
    ]
}

In [80]:
# List of legitimate stages
legitimate_stages = [
    'Series A', 'Series B', 'Series C', 'Series D', 'Series E', 'Series F', 'Series G', 'Series H', 'Series I',
    'Seed', 'Pre-Seed', 'Seed Funding', 'Early Seed', 'Seed Round', 'Series A+', 'Series B+', 'Series D1',
    'Fresh Funding', 'Bridge', 'Private Equity', 'Debt Financing', 'Venture - Series Unknown'
]

# Function to clean and replace stages
def clean_and_replace_stages(stage):
    if pd.isna(stage) or stage not in legitimate_stages:
        return np.random.choice(legitimate_stages)
    return stage

# Apply the clean_and_replace_stages function to clean and replace missing values
df_combined['Stage'] = df_combined['Stage'].apply(clean_and_replace_stages)

In [81]:
df_combined.duplicated().sum()

491

In [82]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3033 entries, 0 to 3032
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           3033 non-null   datetime64[ns]
 1   HeadQuarter    3033 non-null   object
 2   Sector         3033 non-null   object
 3   Founders       3033 non-null   object
 4   Investor       3033 non-null   object
 5   Stage          3033 non-null   object
 6   Company_Brand  3033 non-null   object
 7   What_it_does   3033 non-null   object
 8   Amount         3033 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 213.4+ KB

In [83]:
duplicate_rows = df_combined[df_combined.duplicated()]
duplicate_rows

,Year,HeadQuarter,Sector,Founders,Investor,Stage,Company_Brand,What_it_does,Amount
196,2020-01-01,Bengaluru,Food & Beverages,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",Series B,Curefoods,Healthy & nutritious foods and cold pressed ju...,13000000.0
202,2015-01-01,Cochin,Retail,Eobin Alex,"Unicorn India Ventures, SEA Fund, Devdatt Shah",Early Seed,IsGoingOnline,Kochi-based digital catalogue and marketplace ...,200000.0
206,2014-01-01,Mumbai,HRTech,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",Bridge,Advantage Club,Advantage Club is India's largest employee eng...,1700000.0
332,2021-01-01,Bengaluru,Capital Markets,"Manvendra Singh, Gaurav Agarwal",Accel India,Series A,Trinkerr,Trinkerr is India's first social trading platf...,6600000.0
333,2021-01-01,Gurugram,Social network,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",Seed,Zorro,Pseudonymous social network platform,32000000.0
...,...,...,...,...,...,...,...,...,...
2499,2015-01-01,Gurugram,Aviation & Aerospace,Vikram Singh Meena,India Accelerator,Seed,TechEagle,"Safe, secure & reliable On-Demand Drone delive...",500000.0
2503,2015-01-01,New Delhi,Food & Beverages,Bala Sarda,IIFL AMC,Series D,Vahdam,VAHDAM is among the world’s first vertically i...,20000000.0
2504,2019-01-01,Bengaluru,Financial Services,"Arnav Kumar, Vaibhav Singh",Owl Ventures,Series C,Leap Finance,International education loans for high potenti...,55000000.0
2505,2015-01-01,Gurugram,EdTech,Ruchir Arora,"Winter Capital, ETS, Man Capital",Series B,CollegeDekho,"Collegedekho.com is Student’s Partner, Friend ...",26000000.0
2506,2019-01-01,Bengaluru,Financial Services,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",Series A,WeRize,India’s first socially distributed full stack ...,8000000.0

In [84]:
# Drop duplicates if any
df_combined = df_combined.drop_duplicates()
df_combined

,Year,HeadQuarter,Sector,Founders,Investor,Stage,Company_Brand,What_it_does,Amount
0,2018-01-01,Unknown,Ecommerce,Shantanu Deshpande,Sixth Sense Ventures,Series I,Bombay Shaving,Provides a range of male grooming products,6300000.0
1,2014-01-01,Mumbai,Edtech,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,Series C,Ruangguru,A learning platform that provides topic-based ...,150000000.0
2,2018-01-01,Mumbai,Edtech,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",Early Seed,Eduisfun,It aims to make learning fun via games.,28000000.0
3,2014-01-01,Chennai,Interior design,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",Series D,HomeLane,Provides interior designing solutions,30000000.0
4,2004-01-01,Telangana,AgriTech,Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),Seed,Nu Genes,"It is a seed company engaged in production, pr...",6000000.0
...,...,...,...,...,...,...,...,...,...
3028,2018-01-01,Bengaluru,"B2B, Business Development, Internet, Marketplace",Bhavish Aggarwal,Mumbai Angels Network,Series C,Udaan,"Udaan is a B2B trade platform, designed specif...",225000000.0
3029,2018-01-01,Haryana,"Tourism, Travel",Saurabh Saxena,Blue Ashva Capital,Series A,Happyeasygo Group,HappyEasyGo is an online travel domain.,4000000.0
3030,2018-01-01,Mumbai,"Food and Beverage, Food Delivery, Internet",Ritesh Agarwal,Kalaari Capital,Seed,Mombay,Mombay is a unique opportunity for housewives ...,7500.0
3031,2018-01-01,Mumbai,Information Technology,Kajal Ilmi,Mumbai Angels Network,Seed,Droni Tech,Droni Tech manufacture UAVs and develop softwa...,35000000.0
3032,2018-01-01,Chennai,"Biotechnology, Health Care, Pharmaceutical",Sahil Barua,SucSEED Indovation Fund,Series C,Netmeds,Welcome to India's most convenient pharmacy!,35000000.0

In [85]:
# Define the regular expression pattern
pattern = r'^[\$\₹]|\b\d'
 
# Filter the DataFrame where 'Investor' values start with $, ₹, or an integer
df_combined[df_combined['Stage'].str.match(pattern, na=False)]

Empty DataFrame
Columns: [Year, HeadQuarter, Sector, Founders, Investor, Stage, Company_Brand, What_it_does, Amount]
Index: []

# HYPOTHESIS TESTING

In [86]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm